DATABASE_URL="postgresql://finance_user:CHANGE_ME@localhost:5432/finance_db?schema=public"
DIRECT_URL="postgresql://finance_user:CHANGE_ME@localhost:5432/finance_db?schema=public"
SESSION_SECRET="CHANGE_ME_TO_A_LONG_RANDOM_SECRET_AT_LEAST_32_CHARS"
APP_URL="https://finance.rumahjengkar.com"
DEFAULT_TIMEZONE="Asia/Jakarta"
